@model List<TradeViewModel>

<div id="acoes" class="table-responsive">
    <h3 class= "white-text">Carteira de Ações</h3>
    <table class="table mx-auto">
        <thead>
            <tr>
                <th class="white-text" scope="col"></th>
                <th class="white-text" scope="col">Sigla</th>
                <th class="white-text" scope="col">Valor</th>
                <th class="white-text" scope="col">Quantidade</th>
                <th class="white-text" scope="col">DataCompra</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var trade in Model)
            {
                <tr>
                    <td>
                        <img id="imgPreview" src="data:image/jpeg;base64,@trade.ImagemEmBase64" class="img-responsive"
                             width="50">
                    </td>
                    <td class="white-text">@trade.Sigla</td>
                    <td class="white-text">@trade.Valor</td>
                    <td class="white-text">@trade.Quantidade</td>
                    <td class="white-text">@trade.DataCompra</td>
                </tr>
            }
        </tbody>
    </table>
</div>

</br></br></br></br>

<div id="fixos" class="table-responsive">
    <h3 class= "white-text">Aplicações</h3>
    <table class="table mx-auto">
        <thead>
            <tr>
                <th class= "white-text" scope="col">Descricao</th>
                <th class= "white-text" scope="col">Valor</th>
                <th class= "white-text" scope="col">Duracao</th>
                <th class= "white-text" scope="col">Rentabilidade</th>
                <th class= "white-text" scope="col">RendimentoFinal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fixo in ViewBag.Fixos)
            {
                <tr>
                    <td class= "white-text">@fixo.Descricao</td>
                    <td class= "white-text">R$ @fixo.Valor</td>
                    <td class= "white-text">@fixo.Duracao meses</td>
                    <td class= "white-text">@fixo.Rentabilidade %</td>
                    <td class= "white-text">R$ @fixo.RendimentoFinal</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="resultadoConsulta" class="table-responsive">
                
            </div>
        </div>
        <div class="col-md-6">
            <div id="resultadoConsulta" class="table-responsive">
                
            </div>
        </div>
    </div>
</div>